<div class="row mt-3">
    <div class="col-6">
        <a href="{% url 'main:index' %}"
           class="submit-row">
            <span class="fs-4">Главная</span>
        </a>
    </div>
{#    <div class="col-12 text-right">#}
        <nav class="col-6 text-center">
            <a class="btn btn-primary" href="{% url 'main:client_list' %}">Клиенты</a>
            <a class="btn btn-primary" href="{% url 'main:newsletter_list' %}">Рассылки</a>
            <a class="btn btn-primary" href="#">Блог</a>
        </nav>
{#    </div>#}
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers
        with this Bootstrap example. It’s built with default Bootstrap components and utilities with little
        customization.</p>
</div>